:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* ------------- Globales ---------------*/ 

.contenedor {
    max-width: 100rem;
    width: 90%;
    width: min(90%, 100rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,h2,h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1, h2, h3 {
    text-align: center;
}

h1 { font-size: 4.8rem;}

h2 { font-size: 4rem;}

h3 { font-size: 3.2rem;}

h4 { font-size: 2.8rem;}

img {max-width: 100%;}

p {margin: 0}

/*-------------- Utilidades ----------*/
.hidden { display: none;}

@media print {
    .contenedor {
        max-width: 800px;
        min-height: 100vh;
        font-size: 12px;
        line-height: 1.5;
        page-break-inside: avoid; /* Evita cortes dentro del contenedor */
        /*page-break-before: always; /* Fuerza un salto de página antes del contenedor */
    }

    img {
        max-width: 100%;
        height: auto;
        page-break-inside: avoid; /* Evita cortes dentro de las imágenes */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: avoid; /* Evita cortes dentro de las tablas */
    }

    /* Agregar un salto de página después de cada párrafo */
    p {
        page-break-after: avoid; 
    }

    /* Agregar un salto de página antes de cada sección */
    .seccion {
        page-break-before: always;
    }
}

.formulario {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 
}
  
  select, input {
    margin: 0;
    padding: 0;
    background: none; /* Remueve el fondo por defecto */
    /* border: none;   */
    appearance: none; /* Estándar */ 
  }

  select {
    width: auto; /* Permite al script controlar el ancho */
    min-width: 5rem; /* Opcional: establece un ancho mínimo */
  }

  @media print {
    select, input {
      border: none; /* Sin bordes en la impresión */
      background: none; /* Sin fondo en la impresión */
      box-shadow: none; /* Elimina cualquier sombra */
      color: inherit; /* Mantén el color del texto */
    }
}


  .datos-generales input,
  .datos-generales select{
    width: 23rem;
    display:inline-flex
  }

  .datos-generales label{
    width: 9rem;
    display:inline-flex
  }
  
  textarea {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 100%; /* Limita el ancho máximo */
    min-height: 100px; /* Altura inicial */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde suave */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    resize: both; /* Permite redimensionar */
    outline: none; /* Elimina el borde azul al hacer clic */
  }

  
  
  
  
  
  
  
  




